html
  head
    meta(charset="UTF-8")
    title FirstWaterMark Layout Beta

    // build:css css/vendor.css
    // bower:css
    link(rel='stylesheet', href='../../_bower/jquery-file-upload/css/jquery.fileupload.css')
    link(rel='stylesheet', href='../../_bower/jquery-file-upload/css/jquery.fileupload-ui.css')
    link(rel='stylesheet', href='../../_bower/jquery-file-upload/css/jquery.fileupload-noscript.css')
    link(rel='stylesheet', href='../../_bower/jquery-file-upload/css/jquery.fileupload-ui-noscript.css')
    link(rel='stylesheet', href='../../_bower/normalize.css/normalize.css')
    // endbower
    // endbuild
  
    // build:css css/combined.css
    link(rel='stylesheet', href='css/fonts.css')
    link(rel='stylesheet', href='css/style.css')
    // endbuild

  body
    .container
      article
        .workspace
          h1.workspace__heading
          canvas.worspace__canvas

      aside
        .settings
          form
            h2.settings__heading
            .settings__images
              .images
                form
                  #progressbar
                  input(id='image-original', type='file').images__source
                  #original-result
                  input(id='image-watermark', type='file').images__watermark
                  #watermark-result
            .settings__position
              .position
                h3.position__heading
                .position__controls
                  .position__aligment
                  .position__xy
                    .position__x
                      input.position__x-value
                      .position__x-up
                      .position__x-down
                    .position__y
                      input.position_y-value
                      .position__y-up
                      .position__y-down
            .settings__transparency
              .transparency
                .transparency__slider
                  input.transparency__value
            .settings__buttons
              input.settings__save(type='submit', value='Сохранить') 
              input.settings__reset(type='reset', value='Сбросить')

      footer
        .foot
          ul.foot__language
            li.foot__rus 
              a.foot__rus-button(href='#') РУС
            li.foot__eng 
              a.foot__eng-button(href='#') ENG

          ul.foot__socials
            li.foot__fb 
              a.foot__fb-link(href='#') facebook
            li.foot__tw 
              a.foot__tw-link(href='#') twitter
            li.foot__tw 
              a.foot__vk-link(href='#') vkontakte

    // build:js js/vendor.js
    // bower:js
    script(src='../../_bower/jquery/dist/jquery.js')
    script(src='../../_bower/modernizr/modernizr.js')
    script(src='../../_bower/blueimp-tmpl/js/tmpl.js')
    script(src='../../_bower/blueimp-load-image/js/load-image.js')
    script(src='../../_bower/blueimp-load-image/js/load-image-ios.js')
    script(src='../../_bower/blueimp-load-image/js/load-image-orientation.js')
    script(src='../../_bower/blueimp-load-image/js/load-image-meta.js')
    script(src='../../_bower/blueimp-load-image/js/load-image-exif.js')
    script(src='../../_bower/blueimp-load-image/js/load-image-exif-map.js')
    script(src='../../_bower/blueimp-canvas-to-blob/js/canvas-to-blob.js')
    script(src='../../_bower/jquery-file-upload/js/cors/jquery.postmessage-transport.js')
    script(src='../../_bower/jquery-file-upload/js/cors/jquery.xdr-transport.js')
    script(src='../../_bower/jquery-file-upload/js/vendor/jquery.ui.widget.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-process.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-validate.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-image.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-audio.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-video.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-ui.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-jquery-ui.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.fileupload-angular.js')
    script(src='../../_bower/jquery-file-upload/js/jquery.iframe-transport.js')
    // endbower
    // endbuild

    // build:js js/combined.js
    script(src='../_dev/_js/uploader.js')
    // endbuild