html
  head
    meta(charset="UTF-8")
    title FirstWaterMark Layout Beta
  body
    div.container
      article
        div.workspace
          h1.workspace__heading
          canvas.worspace__canvas

      aside
        div.settings
          form
            h2.settings__heading
            div.settings__images
              div.images
                form
                  input(type=file).images__source
                  input(type=file).images__watermark
            div.settings__position
              div.position
                h3.position__heading
                div.position__controls
                  div.position__aligment
                  div.position__xy
                    div.position__x
                      input.position__x-value
                      div.position__x-up
                      div.position__x-down
                    div.position__y
                      input.position_y-value
                      div.position__y-up
                      div.position__y-down
            div.settings__transparency
              div.transparency
                div.transparency__slider
                  input.transparency__value
            div.settings__buttons
              input.settings__save(type=submit) Сохранить
              input.settings__reset(type=reset) Сбросить

      footer
        div.foot
          ul.foot__language
            li.foot__rus 
              a.foot__rus-button(href="#") РУС
            li.foot__eng 
              a.foot__eng-button(href="#") ENG

          ul.foot__socials
            li.foot__fb 
              a.foot__fb-link(href="#") facebook
            li.foot__tw 
              a.foot__tw-link(href="#") twitter
            li.foot__tw 
              a.foot__vk-link(href="#") vkontakte
