html
  head
    meta(charset="UTF-8")
    title FirstWaterMark Layout Beta

    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild
  
    // build:css css/combined.css
    link(rel='stylesheet', href='css/fonts.css')
    link(rel='stylesheet', href='css/style.css')
    // endbuild

    .container
      article
        .workspace
          h1.workspace__heading
          canvas.worspace__canvas

      aside
        .settings
          form
            h2.settings__heading
            .settings__images
              .images
                form
                  #progressbar
                  input(id='image-original', type='file').images__source
                  #original-result
                  input(id='image-watermark', type='file').images__watermark
                  #watermark-result
            .settings__position
              .position
                h3.position__heading
                .position__controls
                  .position__aligment
                  .position__xy
                    .position__x
                      input.position__x-value
                      .position__x-up
                      .position__x-down
                    .position__y
                      input.position_y-value
                      .position__y-up
                      .position__y-down
            .settings__transparency
              .transparency
                .transparency__slider
                  input.transparency__value
            .settings__buttons
              input.settings__save(type='submit', value='Сохранить') 
              input.settings__reset(type='reset', value='Сбросить')

      footer
        .foot
          ul.foot__language
            li.foot__rus 
              a.foot__rus-button(href='#') РУС
            li.foot__eng 
              a.foot__eng-button(href='#') ENG

          ul.foot__socials
            li.foot__fb 
              a.foot__fb-link(href='#') facebook
            li.foot__tw 
              a.foot__tw-link(href='#') twitter
            li.foot__tw 
              a.foot__vk-link(href='#') vkontakte

    // build:js js/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js js/combined.js
    script(src='../_dev/_js/uploader.js')
    // endbuild
