$wrapperWidth: 960px;
$headerHeight: 50px;
$footerHeight: 50px;
$contentHeight: 670px;
$sample: 30px;
$pictureBlockWidth: 700px;
$ajustmentBlockWidth: 260px;
$grid: 35px;

$help_0: transparent;

//$help_1: #f00;
//$help_2: #ff0;
//$help_3: #f0f;
//$help_4: #0ff;
//$help_5: #33f;

$help_1: transparent;
$help_2: transparent;
$help_3: transparent;
$help_4: transparent;
$help_5: transparent;