@import "../_mixin/_mixin";
@import "../_mixin/_variables";



.aside {
    padding: 100px 0 0 0;
    float: left;
}
.aside__coll {
    padding: 10px 0 0 0;
    & * {
        font-size: 1px;
    }
}

// --------------------------------------- language
.lang {
    
}
.lang__list {
    
}
.lang__item {
    background: rgba(255, 255, 255, 0.5);
    width: 43px;
    &:first-child {
        border-bottom: solid 1px rgba(90, 90, 90, 0.5);
    }
}
.lang__link {
    display: block;
    text-align: center;
}
.lang__text {
    color: #777;
    font-size: 16px;
    line-height: 35px;
}
// --------------------------------------- social
.social {
    display: block;
    background: #eee;
//    width: 100px;
}
.social__head {
    display: inline-block;
    background: #f2185b;
    vertical-align: top;
    @extend .socialLinks;
}

.social__list {
    display: inline-block;
    vertical-align: top;
}
.social__item {
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    @extend .socialLinks;
}
.social__link {
    display: block;
}
.social__item_facebook {
    background: #943aef;
}
.social__item_twitter {
    background: #6c25b4;
}
.social__item_vkontacte {
    background: #3b1660;
}
.social__text {
    line-height: 41px;
}