@import "../_mixin/_mixin";
@import "../_mixin/_variables";

.workspace {
    
}
.workspace_left {
    float: left;
}
.workspace_right {
    float: right;
}
// --------------------------------------- Picture
.picture {
    float: left;
    height: $contentHeight;
    width: $pictureBlockWidth;
}
.picture__title {
    background: #ad9e75;
    line-height: 70px;
    padding: 0 0 0 25px;
}
.picture__body {
    background: #9b5528;
    height: 600px;
    padding: 40px 25px 25px 25px;
    position: relative;
}
.picture__images {
    height: 100%;
    width: 100%;
    position: relative;
    @extend .pictureWidth;
}
.picture__watermark {
    background: rgba(255, 119, 119, 0.44);
    position: absolute;
    z-index: 100;
    @extend .pictureWidth;
}
.picture__upload {
    background: #eee;
    position: relative;
    z-index: 50;
    @extend .pictureWidth;
}

// --------------------------------------- adjustment
.adjust {
    background: #aaa;
    min-height: $contentHeight;
    width: $ajustmentBlockWidth;
}
.adjust__title {
    background: #eee;
    line-height: 80px;
    text-align: center;
}
.adjust__body {
    position: relative;
}
.adjust__raw {
    border-top: 1px solid #f00;
    padding: 0 20px;
    position: relative;
    &:first-child {
        border-top: none;
        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }
    &:before {
        border-top: solid 10px #f00;
        border-bottom: solid 10px transparent;
        border-right: solid 10px transparent;
        border-left: solid 10px transparent;
        content: "";
        display: block;
        left: 125px;
        position: absolute;
        top: 0px;
    }
    &:after {
        border-top: solid 10px #aaa;
        border-bottom: solid 10px transparent;
        border-right: solid 10px transparent;
        border-left: solid 10px transparent;
        content: "";
        display: block;
        left: 125px;
        position: absolute;
        top: -1px;
    }
}


// upload files
.upload {
    background: #aaa;
    padding: 10px 0;
}
.upload__title {
    background: #999;
}
.upload__field {
    
}
.upload {
    
}
.upload__title {
    
}
.upload__field {
    
}


// place watermark
.place {
    background: #eee;
}
.place__title  {
    background: #ddd;
    line-height: 45px;
}
.place__body {
    padding: 20px 0;
}


// grid
.grid {
    display: inline-block;
    vertical-align: top;
    width: ($grid)*3;
    @include clearfix;
}
.grid__item {
    border-style: solid;
    border-color: #f00;
    background: #888;
    float: left;
    height: $grid;
    width: $grid;
    @include clearfix;
}
.grid__item_1 {
    border-width: 1px 0px 0px 1px;
}
.grid__item_2 {
    border-width: 1px 1px 0px 1px;
}
.grid__item_3 {
    border-width: 1px 1px 0px 0px;
}
.grid__item_4 {
    border-width: 1px 0px 1px 1px;
}
.grid__item_5 {
    border-width: 1px 1px 1px 1px;
}
.grid__item_6 {
    border-width: 1px 1px 1px 0px;
}
.grid__item_7 {
    border-width: 0px 0px 1px 1px;
}
.grid__item_8 {
    border-width: 0px 1px 1px 1px;
}
.grid__item_9 {
    border-width: 0px 1px 1px 0px;
}


// coordinate
.coord {
    display: inline-block;
    background: #66f;
    vertical-align: top;
}
.coord__raw {
    
}
.coord__title {
    
}
.coord__field {
    width: 30px;
}
.coord__buttons {
    
}
.coord__arrow {
    
}
.coord__arrow_up {
    
}
.coord__arrow_down {
    
}


// transparent
.transparent {
    
}
.transparent__title {
    
}
.transparent__body {
    
}


// download result
.form {
    
}
.form__coll {
    
}
.form__button {
    
}
.form__coll {
    
}
.form__button {
    
}