@import "../_mixin/_mixin";
@import "../_mixin/_variables";

footer.footer {
    background: rgba(51, 51, 51, 0.5);
    height: $footerHeight;
    margin-top: -($footerHeight);
    width: 100%;
}
p.text {
    
}
.text_footer {
    
}