@import "../_mixin/_mixin";
@import "../_mixin/_variables";

footer.footer {
    background: #333;
    height: $footerHeight;
    margin-top: -($footerHeight);
    width: 100%;
}
p.text {
    
}
.text_footer {
    
}