aside.aside
    .aside__coll
        .lang
            ul.lang__list
                each title in ["РУС", "ENG"]
                    li.lang__item
                        a.lang__link(href="#")
                            span.lang__text= title
    .aside__coll
        .social
            ul.social__list
                each title in ["facebook", "twitter", "vkontakte"]
                    li.social__item
                        a.social__link(href="#", class="social__item_"+title)
                            span.social__text= title
            a.social__head(href="#")