extends ../_layouts/layout.jade

block title
        |watermark

block content
        // --------------------------------------- Picture
        section.workspace.workspace_left
            .picture
                h1.picture__title Генератор водяных знаков
                .picture__body
                    .picture__images
                        .picture__wrapper
                            img.picture__watermark
                            img.picture__upload
                            .picture__bg

        // --------------------------------------- adjustment
        section.workspace.workspace_right
            .adjust
                .adjust__title
                    h2.text Настройки
                // upload files
                .adjust__body
                    .adjust__raw
                        .upload
                            .upload__item
                                label.upload__title(for="upload_picture") Исходное изображежние
                                .upload__raw
                                    input.upload__field-file#upload_picture(type="file",name="upload")
                                    span.upload__field
                                    button.upload__button
                            .upload__item
                                label.upload__title(for="upload_watermark") Водяной знак
                                .upload__raw
                                    input.upload__field-file#upload_watermark(type="file",name="upload")
                                    span.upload__field
                                    button.upload__button

                    // place watermark
                    .adjust__raw
                        .place
                            h3.place__title Положение
                            .place__body
                                // grid
                                .grid
                                    - for (var i = 0; i < 9; i++)
                                        - var j = i +1
                                        .grid__item(class="grid__item_"+j)
                                // coordinate
                                .coord
                                    .coord__raw
                                        .coord__coll
                                            label.coord__title(for="x_coordinate") X
                                        .coord__coll
                                            input.coord__field#x_coordinate(type="text")
                                        .coord__coll
                                            input.coord__arrow.coord__arrow_up#x_coordinate_up(type="button" value="∧")
                                            input.coord__arrow.coord__arrow_down#x_coordinate_down(type="button" value="∨")
                                    .coord__raw
                                        .coord__coll
                                            label.coord__title(for="y_coordinate") Y
                                        .coord__coll
                                            input.coord__field#y_coordinate(type="text")
                                        .coord__coll
                                            input.coord__arrow.coord__arrow_up#y_coordinate_up(type="button" value="∧")
                                            input.coord__arrow.coord__arrow_down#y_coordinate_down(type="button" value="∨")

                    // transparent
                    .adjust__raw
                        .transparent
                            h3.transparent__title Прозрачность
                            .transparent__body
                                .transparent__item
                    // download result
                    .adjust__raw
                        form.form
                            .form__coll.form__coll_reset
                                input.form__button.form__button_reset(type="reset" value="Сброс")
                            .form__coll.form__coll_submit
                                input.form__button.form__button_submit(type="submit" value="Скачать")