extends ../_layouts/layout.jade

block title
        |watermark

block content
        // --------------------------------------- place img
        section.workspace
            .picture
                h1.picture__title
                .picture__body
                    .picture__apload
                    .picture__watermark
        // --------------------------------------- adjustment
        section.workspace
            .adjust
                .adjust__title
                    h2.text Настройки

                // upload files
                .adjust__raw
                    .upload
                        label.upload__title(for="upload_picture") Исходное изображежние
                        input.upload__field#upload_picture(type="text")
                        input.upload__button(type="button" value="dl")
                    .upload
                        label.upload__title(for="upload_watermark") Водяной знак
                        input.upload__field#upload_watermark(type="text")
                        input.upload__button(type="button" value="dl")

                // place watermark
                .adjust__raw
                    .place
                        h3.place__title Положение
                        .place__body
                            .grid
                                - for (var i = 0; i < 9; i++)
                                    .grid__item grid
                            .coord
                                .coord__raw
                                    label.coord__title(for="x_coordinate") X
                                    input.coord__field#x_coordinate(type="text")
                                    .coord__buttons
                                        input.coord__arrow.coord__arrow_up(type="button" value="∧")
                                        input.coord__arrow.coord__arrow_down(type="button" value="∨")
                                .coord__raw
                                    label.coord__title(for="y_coordinate") Y
                                    input.coord__field#y_coordinate(type="text")
                                    .coord__buttons
                                        input.button__arrow.button__arrow_up(type="button" value="∧")
                                        input.button__arrow.button__arrow_down(type="button" value="∨")

                // transparent
                .adjust__raw
                    .transparent
                        h3.transparent__title Прозрачность
                        .transparent__body

                // download result
                .adjust__raw
                    form.form
                        .form__coll
                            input.form__button(type="reset" value="Сброс")
                        .form__coll
                            input.form__button(type="submit" value="Скачать")